.profile {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.profile :nth-child(2) {
    flex: 5;
}

.profile-img {
    background-color: var(--c-blue);
    border: 2px solid var(--c-border);
    flex: 1;
    border-radius: 5%;
    display: flex;
    align-items: center;

}

.profile-img img {
    border-radius: 80%;
    width: 100%
}

.profile-name, 
.profile-subtitle {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--c-border);
    font-weight: bold;
}

.profile-subtitle {
    font-size: 14px;
    font-weight: normal;
    text-transform: capitalize;
}